body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height:100vh;
    font-family: 'Roboto', Courier, monospace;
    margin: 0;
}

.header, .footer {
    background: #1f2937;
    width: 100%;
}

.nav{
    display: flex;
    flex-direction: row;
    padding: 8px;
    margin: 0 250px;
}

.hero-header {
    display: flex;
    flex-direction: row;
    margin: 100px 250px;
}

ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
    gap: 24px
}

a, .secondary-text{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.main-text{
    font-size: 48px;
    color: #f9f1f8;
    font-weight: 900;
}

.logo {
    font-size: 24px;
    color: #f9fAf8;
    font-weight: 900;
}

button {
    color: white;
    background-color: #3882f6;
    padding: 8px 24px;
    border: none;
    border-radius: 5px;
}

h2 {
    margin: 0;
}

.text-header{
    width:450px;
    margin-right: auto;
}

.information-container {
    display: flex;
    flex-direction: column;
    margin: 30px 400px;
    align-items: center;
    gap: 48px;
}

.items-container {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item p{
    text-align: center;
}

.item-img {
    width: 150px;
    height: 150px;
    background-color: white;
    border: #3882f6 solid 4px;
    border-radius: 8px;
}
